<!-- navbar.j2 -->
<nav class="navbar">
  <ul class="navbar-list">
    {% for item in navbar.NAVBAR %}
      <li class="navbar-item">
        {% if item.label == "CV" %}
              {# Open the Resume page (which contains an inline preview) instead of opening the PDF in a new tab #}
              <button class="navbar-link" data-nav-link data-page="resume">{{ item.label }}</button>
            {% else %}
          <button class="navbar-link {% if loop.index0 == 0 %}active{% endif %}" data-nav-link data-page="{{ item.label | lower }}">{{ item.label }}</button>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>